
.accordion {

    &__item {
        max-width: 70rem;
        margin: 0 auto 5rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $color-grey-dark-2;

        
        &--header {
            text-align: left;
            margin: 0 auto;
            padding-bottom: 1.5rem;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: $color-secondary-light-1;
            text-transform: capitalize;
            font-family: $font-secondary;
            font-weight: 900;
            font-style: oblique;
            font-size: 2.2rem;
            transition: all .3s ease-out;

            & span {
                padding-right: .5rem;
            }

            &-active {
                color: $color-secondary-dark-2;
                font-size: 2.1rem;
            }
            
            &:hover {
                color: $color-secondary-dark-2;
            }
        }

        &--content {
            height: 0;
            visibility: hidden;
            opacity: 0;
            font-size: 1.8rem;
            text-align: left;
            transition: all .3s ease-out;

            
            &-active {
                height: fit-content;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: $bp-large) {
    .accordion {
        padding: 0 1.5rem;

        &__item {
            
            &--header {
                font-size: 2rem;

                &-active {
                    font-size: 1.8rem;
                }
            }

            &--content {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: $bp-tablet) {
    .accordion {

        &__item {
            
            &--header {
                font-size: 1.8rem;

                &-active {
                    font-size: 1.6rem;
                }
            }

            &--content {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: $bp-mobile) {
    .accordion {

        &__item {
            
            &--header {
                font-size: 1.6rem;

                &-active {
                    font-size: 1.4rem;
                }
            }

            &--content {
                font-size: 1.2rem;
            }
        }
    }
}