
.contact__form {
    justify-self: right;
    width: 40%;
    border-radius: 2rem;
    align-content: center;
    justify-items: center;
}

.form__group {

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    

    &--input {
        height: 5.5rem;

        &:focus:invalid {
            border-color: red;
        }
    }

    &--label {
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 1.5rem;
        display: block;
        transform: translateY(-8rem);
        transition: all 0.3s ease-in-out;
    }

    &--input:placeholder-shown + &--label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }
}

.form__group--input,
.form__text-area {
    display: block;
    width: 30rem;
    max-width: 30rem;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: $color-white-dark-2;
    font-weight: 500;
    border: .2rem solid $color-primary-light-1;
    border-radius: 1rem;
    background-color: transparent;
    transition: all 0.3s;

    &:focus { 
        outline: none;
        border: 0.3rem solid $color-primary-light-1;
    }

    &:focus:valid {
        border-color: $color-tertiary-light-2;
    }

    &::placeholder {
        color: rgba($color-white-dark-1, .5);
        font-size: 1.7rem;
        text-transform: capitalize;
        font-weight: 500;
    }
}

.form__text-area {
    height: 10rem;
}