
.contact__card {
    display: flex;
    margin: 0 auto 15rem;
    max-width: 100rem;
    height: 40rem;
    border-radius: 3rem;
    border: .4rem solid $color-primary;
    background-color: rgba($color-primary, 1);
    align-content: center;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: auto 0;
    width: 60%;
    padding: 2.5rem;
    border-top-left-radius: 2.7rem;
    border-bottom-left-radius: 2.7rem;
    background-color: $color-bg-dark;
    clip-path: polygon(
        100% 0%, 
        85% 50%, 
        100% 100%, 
        100% 100%, 
        0% 100%, 
        0% 0%
    );

    &--heading {
        width: 40rem;
        text-align: center;
        color: $color-white-dark-2;
        font-family: $font-secondary;
        font-weight: 500;
        letter-spacing: .2rem;
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    &--footer {
        width: 40rem;
        text-align: center;
        // margin: 0 auto;

        &-title {
            color: $color-secondary-dark-3;
            font-family: $font-tertiary;
            font-weight: 900;
            font-size: 1.8rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
            font-style: italic;
            padding-bottom: 1rem;
        }
    }

    .email:hover {
        transition: all .3s ease-in-out;
        color: $color-secondary-dark-3;
    }
    
    &--social {
        padding-top: 1rem;
    }
    
    &--icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2.5rem;
        height: 2.5rem;
        color: $color-secondary-dark-3;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
    }
}

@media screen and (max-width: $bp-large) {
    .contact__card {
        margin: 0 2rem;
    }

    .contact__info {
        &--heading {
            font-size: 1.8rem;
            width: 30rem;
        }

        &--footer {

            &-title {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: $bp-tablet) {
    .contact__card {
        margin: 0 auto;
        flex-direction: column;
        height: 100%;
        max-width: 50rem;
        background-color: $color-bg-dark;
    }

    .contact__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2.5rem;
        border-top-left-radius: 2.7rem;
        border-top-right-radius: 2.7rem;
        border-bottom-left-radius: 0;
        clip-path: polygon(
            0% 0%, 
            100% 0%, 
            100% 100%, 
            100% 100%, 
            0% 100%, 
            0% 0%
        );

        &--heading, 
        &--footer {
            width: 100%;
        }

        &--heading {
            font-size: 1.6rem;
        }

        &--footer {

            &-title {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: $bp-mobile) {
    .contact__info--icon {
        width: 1.8rem;
        height: 1.8rem;
    }

}